<%= render 'pages/home'  unless user_signed_in?%>


	<% @messages.each do |message| %>

		<div class="row">
			<div class="col-md-12 well">
				<h4><%= message.name %></h4>
				<%= simple_format(message.message)%>

				<%= image_tag message.user.avatar.url(:medium) %>

				<p><%= message.user_id%><p>

				<p><%= message.user.email if(message.user)%><p>
	
					
				<!--<h5><%= message.message %></h5>-->

				<%= link_to 'show', message_path(message) %>
				<%if(message.user == current_user)%>
					<%= link_to 'edit', edit_message_path(message) %>
					<%= link_to 'delete', message_path(message),method: :delete, data: { confirm: 'Are you sure?' } %>
					<!--<%= button_to 'delete', message_path(message), method: :delete%>-->
				<%end%>
			</div>
		</div>



	<% end %>
		

<div class="row">
	<div class="col-md-12 ">
		<% if user_signed_in?%>
			<%= link_to 'new', new_message_path %>
		<%end%>
	</div>
</div>


<div class="center">
 	<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>